.env
.env.*
!.env.example
!.env.docker.example
!.env.same-domain.example
/vendor/
/node_modules/
/admin/node_modules/
/admin/dist/
/frontend/node_modules/
/frontend/.nuxt/
/frontend/.output/
/storage/app/google-service-account.json
/storage/logs/*
/bootstrap/cache/*
.idea/
.vscode/
*.zip
